set nu
set relativenumber

nmap j gj
nmap k gk
imap jk <esc>`^

nmap ge <S-g>
nmap gl g_
nmap gh _

vmap ge <S-g>
vmap gl g_
vmap gh _
vmap JK <C-\\><C-n>

nmap U <C-r>

map <C-L> <C-W>l
map <C-H> <C-W>h
